@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dogica: var(--font-dogica), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.sliderr {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background:#784F48;
  outline:none;
  cursor: pointer;
  image-rendering: pixelated;
  border-left-width: 8px;
  border-left-color: #E2D5A1;
  border-right-width: 8px;
  border-right-color: #E2D5A1;
  
}

.sliderr::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-image: url('/pieces/slider_thumb.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  border:none;
  cursor: grab;
  background-color: transparent;
}

.sliderr::-moz-range-thumb{
  width: 16px;
  height: 16px;
  background-image: url('/pieces/slider_thumb.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px;
  border:none;
  cursor: grab;
  background-color: transparent;
}